<link rel="import" href="/bower_components/polymer/polymer-element.html">


<link rel="import" href="/src/components/view-container.html">
<link rel="import" href="/src/shared-styles.html">

<dom-module id="behavior-view">
    <template>
        <style include="shared-styles">
        :host {
            display: block;
        }
        
        view-container {
            --view-container-bg-color: var(--app-blue);
            --view-container-color: var(--app-white);
        }
        </style>

        <view-container header-text="Brand Behaviors"
            quote-text="Relationships are made of moments"
             footer-text="Behave with Intention">

            <p>Trust is essential in any relationship—with a person, a company, or a brand. When you are true to who you are and authentic in your behaviors, you position yourself to earn that trust from others.</p>

            <p>But trust is won over time. At +Intention, we help you shape brand behaviors that are true and authentic to create meaningful moments. It’s these moments that contribute to the types of experiences customers have with your brand—which is important. Because within these experiences are the moments that make for trusting, lasting relationships. </p>

        </view-container>

    </template>

    <script>
    class BehaviorView extends Polymer.Element {
        static get is() {
            return 'behavior-view';
        }
    }
    window.customElements.define(BehaviorView.is, BehaviorView);
    </script>
</dom-module>
