<link rel="import" href="/bower_components/polymer/polymer-element.html">

<link rel="import" href="/src/components/view-container.html">
<link rel="import" href="/src/shared-styles.html">

<dom-module id="capabilities-view">
    <template>
        <style include="shared-styles">
        :host {
            display: block;
            --view-bg-color: var(--app-green);
        }
        
        view-container {
            --view-container-bg-color: var(--view-bg-color);
            --view-container-color: var(--app-white);
        }
        
        .additional-view {
            background-color: var(--view-bg-color);
            color: var(--app-white);
            padding-bottom: 164px;
        }
        
        .additional-view-heading {
            margin: 0 0 0 160px;
            font-size: 18pt;
        }
        
        .heading-line {
            border-top: 8px solid #8c8b8b;
        }
        
        .heading span {
            margin: 12px 0 12px 0;
            text-transform: uppercase;
        }
        
        .heading-detail {
            border-top: 1px solid #8c8b8b;
        }
        
        .heading-detail p {
            font-size: 24px;
        }
        
        .mycard {
            max-width: 800px;
            margin: 0 0 0 160px;
            background-color: var(--app-white);
            box-shadow: var(--app-shadow);
        }
        
        .mycard span {
            font-size: 18pt;
            font-weight: bold;
        }
        
        .mycard div.spacer {
            margin-bottom: 104px;
        }
        
        .card-content {
            color: var(--app-gray);
            margin: 52px;
            padding: 52px 52px 52px 24px;
        }
        
        .card-content p {
            font-size: 18pt;
            font-weight: normal;
            margin: 12px 0 12px 0;
        }
        
        @media (max-width: 960px) {
            .additional-view-heading {
                margin: 0 0 0 100px;
            }
            .mycard {
                width: 800px;
                margin: 0 0 0 100px;
            }
        }
        
        @media (max-width: 840px) {
            .additional-view-heading {
                margin: 0 0 0 85px;
            }
            .mycard {
                width: 80%;
                margin: 0 0 0 85px;
            }
        }
        
        @media (max-width: 600px) {
            .additional-view-heading {
                margin: 0 0 0 48px;
                font-size: 14pt;
            }
            .mycard {
                width: 85%;
                margin: 0 0 0 48px;
            }
            .mycard span {
                font-size: 14pt;
            }
            .card-content {
                margin: 26px;
                padding: 26px 26px 26px 12px;
            }
            .card-content p {
                font-size: 14pt;
                margin: 12px 0 12px 0;
            }
        }
        
        @media (max-width: 448px) {
            .additional-view-heading {
                margin: 0 0 0 25px;
                font-size: 14pt;
            }
            .mycard {
                width: 85%;
                margin: 0 0 0 25px;
            }
            .mycard span {
                font-size: 12pt;
            }
            .card-content {
                margin: 12px;
                padding: 12px 12px 12px 6px;
            }
            .card-content p {
                font-size: 14pt;
            }
        }
        </style>

        <view-container header-text="What We Do" quote-text="Reimagine what you can achieve" footer-text="Brand with Intention">

            <p>Your brand is more than your logo. It’s the entire experience you create and the connections you make with your customers. And that requires you to fully step into who you are as a brand to be effective as a person or a company. </p>

            <p>We’re here to help you share your truth. By identifying insights, shaping strategies, crafting messages, and creating brands that instill belief. We bring structured problem solving with a brand-first mindset to your business, providing new perspectives on your potential. And together, we can redefine what’s possible.</p>

        </view-container>

        <div class="additional-view">

            <div class="additional-view-heading">
                <span>From comprehensive programs to individual solutions, here's how we can help.</span>
            </div>

            <div class="mycard">
                <div class="card-content">
                    <hr class="heading-line">
                    <div class="heading">
                        <span>Investigation + Evaluation</span>
                    </div>
                    <hr class="heading-detail">
                    <p>Research / Observation</p>
                    <hr class="heading-detail">
                    <p>Information Gathering / Insights Generation</p>
                    <hr class="heading-detail">
                    <p>Analysis / Mapping</p>
                    <hr class="heading-detail">
                    <p>Strategy / Planning</p>
                    <hr class="heading-detail">
                    <div class="spacer"></div>

                    <hr class="heading-line">
                    <div class="heading">
                        <span>Ideation + Articulation</span>
                    </div>
                    <hr class="heading-detail">
                    <p>Naming / Nomenclature</p>
                    <hr class="heading-detail">
                    <p>Positioning / Message Development</p>
                    <hr class="heading-detail">
                    <p>Platform Development</p>
                    <hr class="heading-detail">
                    <p>Brand Architecture</p>
                    <hr class="heading-detail">
                    <div class="spacer"></div>

                    <hr class="heading-line">
                    <div class="heading">
                        <span>Communication + Application</span>
                    </div>
                    <hr class="heading-detail">
                    <p>Brand Identity / Design</p>
                    <hr class="heading-detail">
                    <p>Campaign Development</p>
                    <hr class="heading-detail">
                    <p>Packaging</p>
                    <hr class="heading-detail">
                    <p>Merchandising</p>
                    <hr class="heading-detail">
                    <p>Environments / Spaces</p>
                    <hr class="heading-detail">
                    <p>Events / Experiences</p>
                    <hr class="heading-detail">
                    <p>Collateral / Publications</p>
                    <hr class="heading-detail">
                    <p>Web Design / Development / Social</p>
                    <hr class="heading-detail">
                    <div class="spacer"></div>

                    <hr class="heading-line">
                    <div class="heading">
                        <span>Consultation + Motivation</span>
                    </div>
                    <hr class="heading-detail">
                    <p>Strategic Workshops</p>
                    <hr class="heading-detail">
                    <p>Brand Culture Workshops</p>
                    <hr class="heading-detail">
                    <p>Brand Coaching</p>
                    <hr class="heading-detail">
                    <p>Employee Engagement / Training</p>
                    <hr class="heading-detail">

                </div>

            </div>

    </template>
    <script>
    class CapabilitiesView extends Polymer.Element {
        static get is() {
            return 'capabilities-view';
        }
    }
    window.customElements.define(CapabilitiesView.is, CapabilitiesView);
    </script>
</dom-module>
