<link rel="import" href="/bower_components/polymer/polymer-element.html">

<link rel="import" href="/src/components/view-container.html">
<link rel="import" href="/src/shared-styles.html">

<dom-module id="connection-view">
    <template>
        <style include="shared-styles">
        :host {
            display: block;
        }
        
        view-container {
            --view-container-bg-color: var(--app-purple);
            --view-container-color: var(--app-white);
        }
        </style>

        <view-container header-text="Brand Connections" quote-text="Brand relations are human relations" footer-text="Connect with Intention">

            <p>When something feels right, it connects with people. It informs the way they think about that connection. And based upon how they perceive it, it can influence their behaviors.</p>

            <p>We believe in making brands more human. How people feel, think, and act are aspects of human nature. They’re basic human truths. We use these human truths to inspire brand truths. Your brand’s character, the experience you create, and the relationship you maintain with your customer are strengthened through a more human connection.</p>

        </view-container>

    </template>

    <script>
    class ConnectionView extends Polymer.Element {
        static get is() {
            return 'connection-view';
        }
    }
    window.customElements.define(ConnectionView.is, ConnectionView);
    </script>
</dom-module>
