<link rel="import" href="/bower_components/polymer/polymer-element.html">

<link rel="import" href="/src/components/view-container.html">
<link rel="import" href="/src/shared-styles.html">

<dom-module id="moments-view">
    <template>
        <style include="shared-styles">
        :host {
            display: block;
        }
        
        view-container#moments {
            --view-container-bg-color: var(--app-red);
            --view-container-color: var(--app-white);
        }
        </style>

        <view-container id="moments" header-text="Brand moments" 
            quote-text="Make the most of every moment"
                footer-text="Create with Intention">

                <p>Moments are powerful. They have the ability to move people. Bring meaning to situations. Transform thinking and actions. In an instant, a moment can change the course of events to come.</p>

                <p>+Intention is a strategic branding and design shop. We work hard to inspire moments that create meaningful connections between brands and people. Because their experience with your brand influences their feelings about your brand. And in those moments, people are moved to act on how they feel.</p>

        </view-container>

    </template>
    <script>
    class MomentsView extends Polymer.Element {
        static get is() {
            return 'moments-view';
        }
    }
    window.customElements.define(MomentsView.is, MomentsView);
    </script>
</dom-module>
