<link rel="import" href="/bower_components/polymer/polymer-element.html">

<link rel="import" href="/src/components/view-container.html">
<link rel="import" href="/src/components/fixed-footer.html">
<link rel="import" href="/src/shared-styles.html">

<dom-module id="team-view">
    <template>
        <style include="shared-styles">
         :host {
            display: block;
        }

        view-container {
            --view-container-bg-color: var(--app-gray);
            --view-container-color: var(--app-white);
        }

        .contact {
            position: relative;
            left: -26px;
            max-width: 650px;
        }

        .contact-line {
            margin: 4px;
            background-color: var(--app-dark-gray);
            font-size: 14pt;
            padding: 5px 15px 5px 15px;
        }

        .contact-line span {
            font-weight: bold;
        }

        .upper.first {
            display: inline-block;
            width: 32%;
        }

        .upper.second {
            display: inline-block;
            width: 50%;
        }

        .upper span {
            font-weight: bolder;
            text-transform: uppercase;
        }

        @media (max-width: 448px) {
            .contact-line {
                background-color: var(--app-dark-gray);
                font-size: 10pt;
            }
            .upper {
                font-size: 8pt;
            }
            .upper.first {
                width: 100%;
            }
            .upper.second {
                width: 100%;
            }
            .contact {
                left: 0;
            }
        }
        </style>

        <view-container id="team" header-text="Who We Are" quote-text="Compelling brands with purpose" footer-text="Work with Intention">

            <p>The idea that relationships matter is not only the philosophy that drives our work, but also the very reason our company exists today. We founded +Intention after working together for several years. Initially teamed as an Account and Creative partnership, we quickly recognized that when you pair the right skillsets, blend complementary approaches, and commit to building a trusting relationship, you can greatly impact a team’s dynamics and a client’s business.</p>

            <p>With decades of industry experience—Julie in branding and marketing and Terry in branding and design—we seized an opportunity to more purposefully blend our backgrounds to provide a unique point-of-view for our clients. By integrating our efforts, we’re better able to deliver on our vision.</p>

            <p>We believe in being intentional in everything you do—for a brand, for a relationship, for an employee, or for a company. We formed +Intention for this very reason—to put our belief to work for you and inspire moments that help you redefine what’s possible.</p>

            <p>We’d love the opportunity to work together.</p>

            <div class="contact">
                <div class="contact-line">
                    <div class="upper first"><span>Julie Hamilton</span></div>
                    <div class="upper second">| Principal, Brand Partner</div>
                </div>
                <div class="contact-line upper">
                    <div class="upper first"><span>Terry Lawrence</span></div>
                    <div class="upper second">| Principal, Brand Partner</div>
                </div>
                <div class="contact-line">
                    <span>312.471.5599</span>
                </div>
                <div class="contact-line">
                    <span>Hello@workwithintention.com</span>
                </div>

            </div>

        </view-container>
        <fixed-footer></fixed-footer>
    </template>

    <script>
    class TeamView extends Polymer.Element {
        static get is() {
            return 'team-view';
        }
    }
    window.customElements.define(TeamView.is, TeamView);
    </script>
</dom-module>