@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('/assets/fonts/HelveticaNeueLTStd Bd.otf');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('/assets/fonts/HelveticaNeueLTStd Hv.otf');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('/assets/fonts/HelveticaNeueLTStd Lt.otf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('/assets/fonts/HelveticaNeueLTStd Lt.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'HelveticaNeueLTStd', 'Noto', sans-serif;
}