.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333;
    z-index: 0;
}

.anim {
    animation: fade-away 1s ease-in-out forwards;
    animation-delay: 1.25s;
}

.banner {
    position: relative;
    width: 100%;
    top: 50%;
    height: 150px;
    color: white;
}

.group {
    display: table;
    table-layout: fixed;
    margin: auto;
}

.pre {
    display: table-cell;
    position: relative;
}

.pre img {
    opacity: 0;
    width: 60px;
    height: 10px;
    animation: grow 1s ease-in-out forwards;
    animation-delay: 2.5s;
}

.post {
    display: table-cell;
    position: relative;
}

.post img {
    opacity: 0;
    width: 75px;
    height: 10px;
    animation: grow 1s ease-in-out forwards;
    animation-delay: 2.5s;
}


.animation img {
    opacity: 0;
    width: 10px;
    height: 10px;
    animation: grow 1s ease-in-out forwards;
    animation-delay: 1.5s;
}

.pulse img {
    width: 10px;
    height: 10px;
    animation-name: pulse_animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media (min-width: 1281px) {

    .plus {
        padding: 0 140px 0 130px;
    }
}

@media (max-width: 1280px) {

    .plus {
        padding: 0 140px 0 130px;
    }
}



@media (max-width:600px) {

    .plus {
        padding: 0 75px 0 70px;
    }

    .pre img {
        width: 30px;
        height: 5px;
    }

    .post img {
        width: 35px;
        height: 5px;
    }

    .animation img {
        width: 6px;
        height: 6px;
    }

    .pulse img {
        width: 6px;
        height: 6px;
    }
}

@keyframes grow {
    from {
        transform: none;
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    to {
        transform: scale(3.5);
        opacity: 1;
    }
}

@keyframes pulse_animation {
    0% {
        transform: scale(3.5);
    }
    30% {
        transform: scale(3.5);
    }
    40% {
        transform: scale(4.58);
    }
    50% {
        transform: scale(3.5);
    }
    60% {
        transform: scale(3.5);
    }
    70% {
        transform: scale(4.55);
    }
    80% {
        transform: scale(3.5);
    }
    100% {
        transform: scale(3.5);
    }
}

@keyframes fade-away {
    0% {
        transform: none;
    }

    100% {
        transform: translateX(-100%);
    }
}


