<link rel="import" href="/bower_components/polymer/polymer-element.html">

<dom-module id="company-info">
    <template>
        <style include="shared-styles">
        :host {
            color: var(--app-white);
        }
        
        .footer-name h2 {
            font-weight: bolder;
        }
        
        .footer-text {
            margin: 12px;
            line-height: 50%;
        }
        
        .footer-text p {
            line-height: 50%;
        }
        
        .footer-site {
            margin-left: 12px;
        }
        
        .copyright {
            position: relative;
            bottom: -16px;
        }
        </style>
        <div class="footer-left">
            <div class="footer-name">
                <h2>+Intention, LLC.</h2>
            </div>
            <div class="footer-text">
                <p>312.471.5599</p>
                <p>Hello@workwithintention.com</p>
            </div>
            <div class="footer-site">
                <p>www.workwithintention.com</p>
            </div>
            <div class="copyright">
                <p>© 2017 +Intention, LLC. All rights reserved.</p>
            </div>
        </div>

    </template>
    <script>
    class CompanyInfo extends Polymer.Element {
        static get is() {
            return 'company-info';
        }
    }
    window.customElements.define(CompanyInfo.is, CompanyInfo);
    </script>
</dom-module>
