<link rel="import" href="/bower_components/polymer/polymer-element.html">

<dom-module id="fixed-footer">
    <template>
        <style include="shared-styles">
        :host {
            --footer-background-color: var(--app-dark-gray);
        }
        
        .fixed-footer {
            background-color: var(--footer-background-color);
            color: var(--app-white);
            width: 100%;
            height: 206px;
            bottom: 0;
        }
        
        .footer-logo {
            float: right;
            width: 20%;
            height: 100%;
        }
        
        .info-block {
            float: left;
            width: 50%;
        }
        
        .footer-logo img {
            position: relative;
            right: -10%;
            top: 10%;
            width: var(--app-logo-size-wd);
            height: var(--app-logo-size-ht);
        }
        
        company-info {
            position: relative;
            left: 10%;
        }
        
        @media (max-width: 1280px) {
            .footer-logo {
                width: 20%;
            }
        }
        
        @media (max-width: 840px) {
            .footer-logo {
                width: 30%;
            }
        }
        
        @media (max-width: 600px) {
            .fixed-footer {               
                height: 306px;
            }
            .footer-logo {
                width: 80%;
                height: 20%;
                margin: auto;
                margin: 13px 0 13px 0;
            }
            .info-block {
                width: 80%;
                margin: auto;
                text-align: center;
            }
        }
        </style>

        <div class="fixed-footer">
            <div class="footer-logo">
                <img src="/assets/images/intention-gray.png" alt="Intention">
            </div>
            <div class="info-block">
                <company-info></company-info>
            </div>
        </div>

    </template>
    <script>
    class FixedFooter extends Polymer.Element {
        static get is() {
            return 'fixed-footer';
        }
    }
    window.customElements.define(FixedFooter.is, FixedFooter);
    </script>
</dom-module>
