<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-fab/paper-fab.html">
<link rel="import" href="/bower_components/iron-icons/av-icons.html">
<link rel="import" href="/bower_components/iron-iconset-svg/iron-iconset-svg.html">

<link rel="import" href="/src/shared-styles.html">

<dom-module id="float-navigation">
    <template>
        <style include="shared-styles">
         :host {
            --button-bg-color: var(--app-white);
            --button-color: var(--app-dark-gray);
            
        }

        paper-fab {
           display: none;
           box-shadow: var(--toolbar-shadow-effect, 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22));
        }

        paper-fab.fnav {
            z-index: 1;
            position: fixed;
            width: 70px;
            height: 70px;
            bottom: 8%;
            right: 4%;
        }

        paper-fab.fnav {
            background-color: var(--button-bg-color);
            color: var(--button-color);

            --paper-fab-iron-icon: {
                --iron-icon-height: 60px;
                --iron-icon-width: 60px;
            }
        }

        @media (max-width: 600px) {
            paper-fab.fnav {
                width: 50px;
                height: 50px;
            }

            paper-fab.fnav {
                --paper-fab-iron-icon: {
                    --iron-icon-height: 40px;
                    --iron-icon-width: 40px;
                }
            }
        }

        .slidein {
            display: inline-flex;
            animation: slideleft 1.5s forwards linear;
        }

      @keyframes slideleft {
            0% {
                transform: translateX(175%);
            }
            100% {
                transform: translateX(0%);
            }
        }
        </style>

        <paper-fab class="fnav" id="fnav" icon$="[[iconForItem(selected)]]" on-tap="navClick"></paper-fab>

    </template>
    <script>
    class FloatNavigation extends Polymer.Element {
        static get is() {
            return 'float-navigation';
        }
        static get properties() {
            return {
                selected: {
                    type: String,
                    reflectToAttribute: true,
                    notify: true,
                    observer: '_pageChanged',
                },
                navPages: {
                    type: Array,
                    value: []
                }
            };
        }

        navClick() {
            var next = this._findNextView(this.selected);
            if (next) {
                window.history.pushState({}, null, '/' + next);
                window.dispatchEvent(new CustomEvent('location-changed'));
            }
        }

        _findNextView(view) {
            var index = -1;
            var item = this.navPages.find(function(item, i) {
                if(item.view == view){
                    index = i;
                    return i;
                }
            });
            var len = this.navPages.length;
            if (index >= (len - 1))
                return null;
            else
                return this.navPages[index + 1].view;
        }

        _pageChanged() {
            var next = this._findNextView(this.selected);
            if (!next) {
                this.updateStyles({ 'display': 'none' });
            } else {
                this.updateStyles({ 'display': 'inline' });

            }
        }

        iconForItem() {
            return 'add';
        }

        growIn() {
            this.$.fnav.classList.add('slidein');
        }
    }
    window.customElements.define(FloatNavigation.is, FloatNavigation);
    </script>
</dom-module>