<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-selector/iron-selector.html">
<link rel="import" href="/bower_components/app-layout/app-toolbar/app-toolbar.html">

<dom-module id="responsive-drawer">

    <template>

        <style>
         :host {
            display: block;
            margin: 0;
        }

        .drawer {
            z-index: 51;
            position: fixed;


            width: var(--responsive-drawer-container-width);
            height: var(--responsive-drawer-container-height);
            background-color: var(--responsive-drawer-container-bg-color);
            color: var(--responsive-drawer-container-color);

            @apply --responsive-drawer-container;
        }

        .drawer-list a {
            position: relative;
            color: var(--responsive-drawer-menu-color);
            width: 100%;
            height: 100%;
            text-decoration: none;

            @apply --responsive-drawer-menu;
        }

        .drawer-list li {
            color: var(--responsive-drawer-menu-color);
            background-color: var(--responsive-drawer-menu-alt-color);
            margin: 12px 0;
            width: 90%;
            height: 32px;
            list-style: none;
        }

        .drawer-list li:hover {
            color: var(--responsive-drawer-menu-alt-color);
            background-color: var(--responsive-drawer-menu-color);
        }

        .drawer-list li:hover a {
            color: var(--responsive-drawer-menu-alt-color);
            background-color: var(--responsive-drawer-menu-color);
        }

        .logo-drawer img {
            @apply --responsive-drawer-image;
        }

        .menu-toolbar {
            position: relative;
            display: inline-block;
            width: 90%;
        }

        .close-button-container {
            position: relative;
            height: 100px;
        }

        iron-icon.close {
            --iron-icon-height: 48px;
            --iron-icon-width: 48px;
            top: 10%;
            left: 85%;
            color: var(--responsive-drawer-container-color);
            cursor: pointer;
        }

        .init {
            display: none;
        }

        .drawer[state~="close"] {
            display: block !important;
            animation: slideout 1s forwards;
            animation-delay: 0s
        }

        .drawer[state~="open"] {
            display: block !important;
            animation: slidein .25s forwards;
            animation-delay: 0s;
        }

        @keyframes slideout {
            from {
                left: 0px;
            }
            to {
                left: -100%;
            }
        }

        @keyframes slidein {
            from {
                left: -100%;
            }
            to {
                left: 0px;
            }
        }
        </style>

        <div id="drawer" class="drawer init">
            <app-toolbar class="menu-toolbar">
                <div class="close-button-container">
                    <iron-icon class="close" icon="close" on-click="_onClickClose"></iron-icon>
                </div>
                <div class="logo-drawer">
                    <img src="/assets/images/intention-gray.png" alt="Intention">
                </div>
            </app-toolbar>
            <div class="menu">
                <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                    <ul>
                        <template is="dom-repeat" items="{{pages}}">
                            <li><a on-click="_onMenuClick" name="[[item.view]]" href="[[rootPath]][[item.view]]">[[item.display]]</a></li>
                        </template>
                    </ul>
                </iron-selector>
            </div>
            <div>
                <slot name="bottombar"></slot>
            </div>
        </div>

    </template>

    <script>
    class ResponsiveDrawer extends Polymer.Element {
        static get is() {
            return 'responsive-drawer';
        }

        static get properties() {
            return {
                pages: {
                    type: Array,
                    value: []
                },
                rootPath: String
            };
        }

        connectedCallback() {
            super.connectedCallback();
            window.addEventListener("menu-button-click", e => { this.openDrawer(e) });
        }

        _onClickClose() {
            this.closeDrawer();
        }

        _onMenuClick() {
            this.closeDrawer();
        }

        closeDrawer() {
            this.$.drawer.setAttribute('state', 'close');
        }

        openDrawer(e) {
            this.$.drawer.setAttribute('state', 'open');
        }

    }

    window.customElements.define(ResponsiveDrawer.is, ResponsiveDrawer);
    </script>
</dom-module>