<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">

<dom-module id="responsive-toolbar">

    <template>

        <style>
         :host {
            display: block;
            color: var(--responsive-toolbar-color, white);
        }

        .toolbar-wrapper {
            z-index: 50;
            left: 0;
            right: 0;
            margin: auto;
            background-color: transparent;
            width: var(--toolbar-container-width, 100%);
            height: var(--toolbar-container, 64px);
        }

        .fixed-toolbar {
            position: fixed;
        }

        .toolbar {
            display: var(--toolbar-start-display, block);
            position: relative;
            height: 100%;
            width: 100%;
            background-color: var(--toolbar-background-color, #2196F3);
            box-shadow: var(--toolbar-shadow-effect, 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22));
        }

        .menu-button {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

         div ::slotted([slot=left-slot]) {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }

        div ::slotted([slot=right-slot]) {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }

        .left-button {
            width: var(--left-button-container-width, 10%);
        }

        paper-icon-button {
            --paper-icon-button: {
                width: var(--menu-button-width, 52px);
                height: var(--menu-button-height, 52px);
                color: var(--menu-button-color, white);
            }
        }

        .left-slot {
            width: var(--left-slot-width, 10%);
        }

        .right-slot {
            width: var(--left-slot-width, 60%);
            float: right;
            margin-right: 20px;
        }

        .toolbar-container {
            display: inline-block;
            position: relative;
            height: 100%;
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            .responsive {
                display: none;
            }
        }

        .slideaway {
            position: relative;
            animation: slideUp 1s forwards linear;
        }

        .slidein {
            display: block;
            position: relative;
            animation: slideDown 1s forwards linear;
        }

        @keyframes slideUp {
            0% {
                transform: translateY(0%);
            }
            100% {
                transform: translateY(-110%);
            }
        }

        @keyframes slideDown {
            0% {
                transform: translateY(-100%);
            }
            100% {
                transform: translateY(0%);
            }
        }
        </style>


        <div id="toolbarwrapper" class="toolbar-wrapper">
            <div id="toolbar" class="toolbar">
                <div class="left-button toolbar-container">
                    <paper-icon-button class="menu-button" icon="menu" on-click="_menuClick"></paper-icon-button>
                </div>
                <div id="leftslot" class="left-slot toolbar-container">
                    <slot name="left-slot">
                    </slot>
                </div>
                <div id="rightslot" class="right-slot toolbar-container">
                    <slot name="right-slot"></slot>
                </div>
            </div>
        </div>


    </template>

    <script>
    class ResponsiveToolbar extends Polymer.Element {
        static get is() { return 'responsive-toolbar'; }
        static get properties() {
            return {
                hideLeft: {
                    type: Boolean,
                    value: false
                },
                hideRight: {
                    type: Boolean,
                    value: false
                },
                fixed: {
                    type: Boolean,
                    value: false
                }
            };
        }

        connectedCallback() {
            super.connectedCallback();

            if (this.hideLeft)
                this.$.leftslot.classList.add('responsive');

            if (this.hideRight)
                this.$.rightslot.classList.add('responsive');

            if (this.fixed)
                this.$.toolbarwrapper.classList.add('fixed-toolbar');
        }

        slideUpAway() {
            this.$.toolbar.classList.add('slideaway');
        }

        slideDownInPlace() {
            this.$.toolbar.classList.add('slidein');
        }

        _menuClick(e) {
            this.dispatchEvent(new CustomEvent('menu-button-click', {bubbles: true, composed: true}));
        }


    }

    window.customElements.define(ResponsiveToolbar.is, ResponsiveToolbar);
    </script>
</dom-module>