<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation-behavior.html">

<script src="/bower_components/zenscroll/zenscroll-min.js"></script>

<script>
Polymer({

    is: 'slide-from-right-and-up-animation',

    behaviors: [
        Polymer.NeonAnimationBehavior
    ],

    configure: function(config) {
        var node = config.node;

        this._effect = new KeyframeEffect(node, [
            { 'transform': 'translateX(100%)' },
            { 'transform': 'none' }
        ], this.timingFromConfig(config));

        if (config.transformOrigin) {
            this.setPrefixedProperty(node, 'transformOrigin', config.transformOrigin);
        } else {
            this.setPrefixedProperty(node, 'transformOrigin', '0 50%');
        }

        return this._effect;
    },

    complete: function() {
      zenscroll.toY(0);
    }

});
</script>