<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/vaadin-icons/vaadin-icons.html">

<link rel="import" href="/src/shared-styles.html">

<dom-module id="social-toolbar">
    <template>
        <style include="shared-styles">
        .social {
            @apply --social-toolbar-style;
        }

        .social a:link,
        a:visited,
        a:hover,
        a:active {
            margin-left: 4px;
            text-decoration: none;
            color: var(--social-toolbar-icon-color);
        }

        .social img:hover {
            background: color: var(--social-toolbar-icon-color, none);
            cursor: pointer;
        }

        .social img {
            width: 32px;
            height: 32px;
        }
        </style>

        <div class="social">
            <a target="_blank" href="https://www.facebook.com/workwithintention/ ">
                <img src="/assets/images/facebook.png" alt="Facebook">
            </a>
            <a target="_blank" href="https://www.instagram.com/weareintention/?hl=en">
                <img src="/assets/images/instagram.png" alt="Instagram">
            </a>
            <a target="_blank" href="https://www.linkedin.com/company-beta/24790052/">
                <img src="/assets/images/linkedin.png" alt="LinkedIn">
            </a>
        </div>

    </template>
    <script>
    class SocialToolbar extends Polymer.Element {
        static get is() {
            return 'social-toolbar';
        }
    }
    window.customElements.define(SocialToolbar.is, SocialToolbar);
    </script>
</dom-module>