<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/shared-styles.html">

<dom-module id="view-container">
    <template>
        <style include="shared-styles">
         :host {
            --view-margin-left-lg: 145px;
            --view-padding-left-lg: 160px;
            --view-margin-left-960: 100px;
            --view-padding-left-960: 115px;
            --view-margin-left-840: 85px;
            --view-padding-left-840: 100px;
            --view-margin-left-600: 48px;
            --view-padding-left-600: 70px;
            --view-margin-left-400: 25px;
            --view-padding-left-400: 35px;
        }

        .container {
            background-color: var(--view-container-bg-color);
            color: var(--view-container-color);
        }

        .view-header {
            margin: 0 0 0 var(--view-margin-left-lg);
            padding-top: 116px;
        }

        .view-header span {
            padding: 8px 15px 5px 15px;
            background-color: var(--view-container-color);
            color: var(--view-container-bg-color);
            text-transform: uppercase;
            font-size: 10pt;
            font-weight: bold;
        }

        .view-quote {
            padding: 80px 0 0 var(--view-padding-left-lg);
            max-width: 800px;
            line-height: 96px;
        }

        .view-quote span {
            font-size: 90pt;
            font-weight: bold;
        }

        .view-content {
            padding: 42px 0 0 var(--view-padding-left-lg);
            max-width: 800px;
            font-size: 18pt;
        }

        .view-footer {
            margin: 116px 0 0 var(--view-margin-left-lg);
            color: var(--view-container-bg-color);
        }

        .footer-backdrop {
            background-color: var(--view-container-color);
            padding: 12px 0 10px 0;
            max-width: 800px;
            width: 100%;
        }

        .view-footer span {
            font-size: 18pt;
            font-weight: bold;
            padding: 5px 15px 5px 15px;
        }

        .spacer {
            height: 164px;
        }

        div.slide-left {
            animation: slide-left 1.5s;
        }

        @keyframes slide-left {
            from {
                margin-left: 20%;
                width: 100%;
            }
            to {
                margin-left: 0%;
                width: 100%;
            }
        }

        @media (max-width: 960px) {
            .view-header {
                margin: 0 0 0 var(--view-margin-left-960);
            }
            .view-quote {
                padding: 80px 0 0 var(--view-padding-left-960);
            }
            .view-content {
                padding: 42px 0 0 var(--view-padding-left-960);
            }
            .view-footer {
                margin: 116px 0 0 var(--view-margin-left-960);
            }
        }

        @media (max-width: 840px) {
            .view-header {
                margin: 0 0 0 var(--view-margin-left-840);
                width: 80%;
            }
            .view-quote {
                padding: 80px 0 0 var(--view-padding-left-840);
                width: 80%;
                
            }
            .view-content {
                padding: 42px 0 0 var(--view-padding-left-840);
                width: 80%;
            }
            .view-footer {
                margin: 116px 0 0 var(--view-margin-left-840);
                width: 80%;
            }
        }

        @media (max-width: 600px) {
            .view-header {
                margin: 0 0 0 var(--view-margin-left-600);
                width: 85%;
            }
            .view-quote {
                padding: 40px 0 0 var(--view-padding-left-600);
                width: 85%;
            }
            .view-quote span {
                font-size: 60pt;
                font-weight: bold;
            }
            .view-content {
                padding: 42px 0 0 var(--view-padding-left-600);
                font-size: 14pt;
                width: 80%;
            }
            .view-footer {
                margin: 68px 0 0 var(--view-margin-left-600);
                width: 85%;
            }
            .view-footer span {
                font-size: 14pt;
            }
            @keyframes slide-left {
                from {
                    margin-left: 20%;
                }
                to {
                    margin-left: 0%;
                }
            }
        }

        @media (max-width: 448px) {
            .view-header {
                margin: 0 0 0 var(--view-margin-left-400);
                width: 80%;
            }
            .view-quote {
                padding: 40px 0 0 var(--view-padding-left-400);
                width: 75%;
                line-height: 48px;
            }
            .view-quote span {
                font-size: 42pt;
                font-weight: bold;
            }
            .view-content {
                padding: 42px 0 0 var(--view-padding-left-400);
                font-size: 14pt;
                width: 80%;
            }
            .view-footer {
                margin: 68px 0 0 var(--view-margin-left-400);
                width: 80%;
            }
            .view-footer span {
                font-size: 14pt;
            }
            @keyframes slide-left {
                from {
                    margin-left: 20%;
                }
                to {
                    margin-left: 0%;
                }
            }
        }

        @media (max-width: 380px) {
            .view-header {
                margin: 0 0 0 var(--view-margin-left-400);
                width: 80%;
            }
            .view-quote {
                padding: 40px 0 0 var(--view-padding-left-400);
                width: 75%;
                line-height: 40px;
            }
            .view-quote span {
                font-size: 35pt;
                font-weight: bold;
            }
            .view-content {
                padding: 42px 0 0 var(--view-padding-left-400);
                font-size: 14pt;
                width: 80%;
            }
            .view-footer {
                margin: 68px 0 0 var(--view-margin-left-400);
                width: 85%;
            }
            .view-footer span {
                font-size: 14pt;
            }
            @keyframes slide-left {
                from {
                    margin-left: 20%;
                }
                to {
                    margin-left: 0%;
                }
            }
        }
        </style>

        <div class="container">
            <div class="view">
                <div class="view-header">
                    <span>[[headerText]]</span>
                </div>
                <div class="view-quote slide-left">
                    <span>[[quoteText]]</span>
                </div>
                <div class="view-content">
                    <slot></slot>
                </div>
                <div class="view-footer">
                    <div class="footer-backdrop">
                        <span>[[footerText]]</span>
                    </div>
                </div>
                <div class="spacer"></div>
            </div>
        </div>

    </template>
    <script>
    class ViewContainer extends Polymer.Element {
        static get is() {
            return 'view-container';
        }
        static get properties() {
            return {
                headerText: {
                    type: String,
                    reflectToAttribute: false
                },
                quoteText: {
                    type: String,
                    reflectToAttribute: false
                },
                footerText: {
                    type: String,
                    reflectToAttribute: false
                }
            }
        }

    }
    window.customElements.define(ViewContainer.is, ViewContainer);
    </script>
</dom-module>