<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/app-route/app-location.html">
<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="/bower_components/neon-animation/web-animations.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="/bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="/bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="/bower_components/neon-animation/neon-animations.html">

<link rel="import" href="/src/shared-styles.html">
<link rel="import" href="/src/components/responsive-toolbar.html">
<link rel="import" href="/src/components/responsive-drawer.html">
<link rel="import" href="/src/components/float-navigation.html">
<link rel="import" href="/src/components/company-info.html">
<link rel="import" href="/src/components/slide-from-right-and-up-animation.html">

<link rel="lazy-import" href="/src/views/moments-view.html">
<link rel="lazy-import" href="/src/views/behavior-view.html">
<link rel="lazy-import" href="/src/views/connection-view.html">
<link rel="lazy-import" href="/src/views/capabilities-view.html">
<link rel="lazy-import" href="/src/views/team-view.html">
<link rel="lazy-import" href="/src/view-error.html">
<link rel="import" href="/src/components/social-toolbar.html">

<script src="/bower_components/zenscroll/zenscroll-min.js"></script>

<dom-module id="intention-app">
    <template>
        <style include="shared-styles">
         :host {
            display: block;
        }

        responsive-drawer {
            --responsive-drawer-container-width: 378px;
            --responsive-drawer-container-height: 100vh;
            --responsive-drawer-container-bg-color: var(--app-black);
            --responsive-drawer-menu-color: var(--app-black);
            --responsive-drawer-menu-alt-color: var(--app-white);
            --responsive-drawer-container-color: var(--app-white);

            --responsive-drawer-container: {
                opacity: 0.90;
            }

            --responsive-drawer-menu: {
                border: 0;
                outline: none;
                cursor: pointer;
                border: 0;
                top: 7px;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: bolder;
                margin-left: 18px;
            }

            --responsive-drawer-image: {
                width: var(--app-logo-size-wd);
                height: var(--app-logo-size-ht);
                position: relative;
                margin-left: 24px;
            }
        }

        .info {
            position: relative;
            left: 12%;
        }

        responsive-toolbar {
            --toolbar-container-width: 90%;
            --toolbar-background-color: var(--app-white);
            --menu-button-color: var(--app-gray);
            --toolbar-start-display: none;
        }

        .left-logo {
            width: 24px;
            height: 24px;
        }

        .left-logo img {
            width: 24px;
            height: 24px;
        }

        .footerbar {
            width: 100%;
            position: relative;
            padding-top: 40px;
            left: 15%;
        }

        social-toolbar {
            --social-toolbar-icon-hover-color: black;
            --social-toolbar-style: {
                width: 50%;
            }
        }
        </style>

        <app-location route="{{route}}" url-space-regex="^[[rootPath]]"></app-location>
        <app-route route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}"></app-route>

        <responsive-drawer pages="[[pages]]" root-path="[[rootPath]]">
            <div slot="bottombar">
                <div class="footerbar">
                    <social-toolbar></social-toolbar>
                </div>
                <div class="info">
                    <company-info></company-info>
                </div>
            </div>
        </responsive-drawer>

        <responsive-toolbar id="rt" hide-left fixed>
            <div slot="left-slot" class="left-logo">
                <a href="moments-view"><img  src="assets/images/intention-plus.png" alt=""></a>
            </div>
            <img slot="right-slot" src="assets/images/intention-small.png" alt="">
        </responsive-toolbar>

        <neon-animated-pages attr-for-selected="name" selected="[[page]]" entry-animation="[[entry]]" exit-animation="[[exit]]" fallback-selection="view-error" role="main" id="transition">
            <moments-view name="moments-view"></moments-view>
            <behavior-view name="behavior-view"></behavior-view>
            <connection-view name="connection-view"></connection-view>
            <capabilities-view name="capabilities-view"></capabilities-view>
            <team-view name="team-view"></team-view>
            <view-error name="view-error"></view-error>
        </neon-animated-pages>

        <float-navigation id="floatnav" selected={{page}} isForward="{{isLeft}}" nav-pages="[[pages]]"></float-navigation>

    </template>

    <script>
    class IntentionApp extends Polymer.mixinBehaviors([Polymer.NeonAnimationRunnerBehavior], Polymer.Element) {
        static get is() {
            return 'intention-app';
        }

        static get properties() {
            return {
                page: {
                    type: String,
                    reflectToAttribute: true,
                    value: "moments-view",
                    observer: '_pageChanged'
                },
                rootPattern: String,
                routeData: Object,
                subroute: String,
                isLeft: {
                    type: Boolean,
                    value: true,
                    notify: true,
                    reflectToAttribute: true,
                    observer: '_onLeftChange'
                },
                entry: String,
                exit: String,
                rootPath: String,
                pages: {
                    type: Array,
                    value: [
                        { 'view': 'moments-view', 'display': 'Brand Moments' },
                        { 'view': 'behavior-view', 'display': 'Brand Behaviors' },
                        { 'view': 'connection-view', 'display': 'Brand Connections' },
                        { 'view': 'capabilities-view', 'display': 'What We Do' },
                        { 'view': 'team-view', 'display': 'Who We Are' }
                    ]
                }
            };
        }

        static get observers() {
            return [
                '_routePageChanged(routeData.page)'
            ];
        }

        _routePageChanged(page) {
            this.page = page || 'moments-view';
        }

        _pageChanged(page) {
            var resolvedPageUrl = this.resolveUrl('/src/views/' + page + '.html');
            Polymer.importHref(
                resolvedPageUrl,
                null,
                this._showPage404.bind(this),
                true);
        }

        _showPage404() {
            this.page = 'view-error';
        }

        _onLeftChange() {
            this._entryAnimation();
            this._exitAnimation();
        }

        _entryAnimation() {
            if (this.isLeft)
                this.entry = "slide-from-right-and-up-animation";
            else
                this.entry = "slide-from-left-animation";
        }

        _exitAnimation() {
            if (this.isLeft)
                this.exit = "slide-left-animation";
            else
                this.exit = "slide-right-animation";
        }

        ready() {
            super.ready();
            zenscroll.toY(0);
        }

        applyScrollBar() {
            this.$.rt.slideDownInPlace();
            this.$.floatnav.growIn();
        }

    }
    window.customElements.define(IntentionApp.is, IntentionApp);
    </script>
</dom-module>