<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-styles/color.html">
<link rel="import" href="/bower_components/paper-styles/shadow.html">
<link rel="import" href="/bower_components/paper-styles/typography.html">

<dom-module id="shared-styles">
    <template>
        <style>
  
        
        :host {
            --app-primary-color: #3F51B5;
            --app-secondary-color: #673AB7;
            --app-primary-text-color: #757575;

            --app-white: #FFFFFF;
            --app-black: black;
            --app-red: #D85266;
            --app-blue: #009DDA;
            --app-purple: #993399;
            --app-green: #99c525;
            --app-gray: #85878A;
            --app-dark-gray: #333333;

            --app-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            
            font-family: "HelveticaNeueLTStd", Arial, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-variant: normal;

            letter-spacing: 1px;

            --app-logo-size-wd: 144px;
            --app-logo-size-ht: 35px;
            --app-toolbar-logo-top: 30%;

        }
        </style>
    </template>
</dom-module>
